@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&family=Red+Hat+Display&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
.game-container {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.game-history {
	width: 300px;
	font-size: 0.9em;
	margin-left: 2%;
}
.board-container {
	margin-right: 20%;
}
.board-and-ships {
	display: flex;
}
.dropdown-and-action-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.actions {
	display: flex;
	flex-direction: column;
	padding-left: 10px;
	gap: 20px;
}
.dropdown-menu {
	background-color: black;
}
.how-to-play {
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9;
}
.how-to-play .info {
	position: relative;
	background-color: rgba(255, 255, 255, 0.95);
	width: 50%;
	padding: 20px 40px 30px;
}
.info-close-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}
.board {
	height: 528px;
	width: 528px;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
}
.square {
	display: flex;
	width: 48px;
	height: 48px;
	background: url('/src/assets/water.svg') no-repeat;
	background-size: cover;
	background-position: center;
}
.enemy-square {
	width: 48px;
	height: 48px;
	background: url('/src/assets/enemyBoard.svg') no-repeat;
	background-size: cover;
	background-position: center;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
	cursor: pointer;
}

.enable:hover {
	opacity: 0.9;
}
.enable:hover::before {
	content: '';
	border-radius: 50%;
	border: 6px solid #262c40;
	width: 10px;
	height: 10px;
	margin: 18.5px auto 30px;
	display: block;
}
.hit {
	background-position: center;
	cursor: not-allowed;
}
.miss {
	background-position: center;
	cursor: not-allowed;
}
.disable {
	background-color: #fff;
	opacity: 0.7;
	cursor: not-allowed;
}

.guide {
	background-color: #2a2e3a;
	display: grid;
	width: 48px;
	height: 48px;
	place-content: center;
	color: #fff;
	font-size: 12px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.shiplist {
	display: flex;
}
.ship {
	position: relative;
	z-index: 1;
}
.hidden {
	display: none;
}
.ship1_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(30px, 20px);
}
.ship2_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(45px, 50px);
}
.ship3_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(45px, 50px);
}
.ship4_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(75px, 65px);
}
.ship5_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(100px, 95px);
}
