@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&family=Red+Hat+Display&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
	font-family: 'Roboto', sans-serif;
}

#root {
	height: 100vh;
	gap: 100px;
}

.board {
	height: 528px;
	width: 528px;
	display: grid;
	grid-template-columns: repeat(11, 1fr);
}

.square {
	display: flex;
	width: 48px;
	height: 48px;
	background: url('/src/assets/water.svg') no-repeat;
	background-size: cover;
	background-position: center;
}

.guide {
	background-color: #2a2e3a;
	display: grid;
	width: 48px;
	height: 48px;
	place-content: center;
	color: #fff;
	font-size: 12px;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.shiplist {
	display: flex;
}
.ship {
	position: relative;
	z-index: 1;
}
.hidden {
	display: none;
}
.ship1_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(30px, 20px);
}
.ship2_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(45px, 50px);
}
.ship3_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(45px, 50px);
}
.ship4_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(75px, 65px);
}
.ship5_vertical {
	position: absolute;
	z-index: 1;
	transform: rotate(90deg) translate(100px, 95px);
}
